@import url('https://fonts.googleapis.com/css2?family=Neuton:wght@700&family=Nunito+Sans:wght@400;600;700;800&family=Pacifico&family=Poppins:wght@100;200;300;500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    
}
body{
    background-color: #ffffff;;
}


.logo {
    margin: 50px 0 0 300px ;
}


/* influencer journey */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.journey-part{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin: 100px 300px;
}

.info{
    width: 900px;
    display: grid;
    grid-template-rows: repeat(1, 1fr);
}
.info h1{
    font-size: 40px;
    margin-bottom: 10px;
    font-weight: 800;
}
.info p{
    font-size: 18px;
    
}
.prebook-btn  {
    margin-top: 40px; 
    background-color: #E02C6D; 
    padding: 10px;
    width: 140px;
    border-radius: 20px;
   
    
}
.prebook-btn a {
   text-decoration: none; 
   margin: 0 5px;
   color: white;
}
.fa-arrow-right{
    color: white;
    margin-bottom:2px ;
}

.influencer-camera{
    border-radius: 20px;
    box-shadow: 1px 3px 5px rgb(146, 136, 136);

}
.influencer-camera img:hover{
   
   border-radius: 10px;
   transform: scale(1.30) translateY(-15px);

}


/* companies */

hr{
    justify-content: center;
    margin: 0 300px;
}

.company-name{
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.company-name a img{
    margin: 10px 50px;
    align-items: center;
}
/* Populer Collection  */
.collection{
    display: grid;
    grid-template-columns: repeat(3, 2fr);
}
.collection-text{
text-align: center;
   margin: 100px 0;
   font-size: 20px;   
}
.items{
    margin: 10px;
    width: 329px;
    background-color: #faf8f8;  
    border-radius: 5px;
    box-shadow: 2px 2px 5px 1px rgb(194, 190, 190);
    
}
.items img{
    width: 300px;
    height: 256px;
    margin: 15px;
}
.poster-details{
    margin: 15px;
}
.poster-details p{
    margin-top: 10px;
}
.item-rating{
    margin: 15px;
}
.fa-star.filled{
    color: #ffc014;
}
.fa-star-half-alt.half{
    color: #ffc014;
    }
.item-info {
    margin: 15px;
}

.see-more{
    text-align: right;
    margin-top: 25px;
    color: #E02C6D;

}
.see-more a{
    text-decoration: none;
    color: #E02C6D;

}
.fa-arrow-right.red{
    color: #E02C6D;
}



/* Animation */

.slider-section h1{
    text-align: center;
    margin: 100px 0;
    font-size: 40px;
    color: #E02C6D;
}
.slider-part{
    display: flex;
    margin: 200px;
}

.slider{
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    animation: rotate 30s linear infinite;

}
@keyframes rotate {
    0% {
        transform: perspective(1000px) rotateY(0deg);
    }
    100%{
        transform: perspective(1000px) rotateY(360deg);
    }
}
.slider span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i)*45deg)) translateZ(350px);

}
.slider span img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    transition: 2s;
}
.slider span:hover img {
    transform: translateY(-50px) scale(1.2);
}

/* Footer items */

.footer-item{
    background-color: black;
    text-align: center;
    padding: 20px;
    width: 100%;
}    

.footer-item h1 {
    color:white;
    font-size: 40px;
}

.footer-item p {
    color:white;
    font-size: 18px;
}

.footer-icon i {
    font-size: 20px;
    color:white;
    margin: 15px 20px;
}

/* Responsive Part  */

/* Mobile Devices */

@media only screen and (max-width:688px) {
    .logo{
       align-items: center;
       justify-content: center;
       margin: 0;
       padding-top: 20px;
    }
    .logo h1{
      text-align: center;
      font-size: 25px;
      width: 100%;  
    }
    .journey-part{
        flex-direction: column-reverse;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center; 
    }
    .info{
        justify-content: center;
        align-items: center;
        justify-items: center;
        margin-bottom: 20px;
        
    }   
    .info h1 {
       font-size: 35px;
       text-align: center;
       width: 100%;
    }
    .info p{
        text-align: center;
        background-color: #E02C6D;   
     }
    .influencer-camera{
        align-items: center;
        margin-bottom: 10px;
    }
    .influencer-camera img{
        width: 300px;
        align-items: center;
        height: 300px;   
    }
    .collection{
        grid-template-columns: repeat(1, 1fr);
        

    }
    .items{
        flex-direction: column;
        align-items: center;
    }

    .slider-part{
        margin: 50px;
    }

    .slider{
        width: 100px;
        height: 100px;
        transform-style: preserve-3d;
        animation: rotate 30s linear infinite;
    
    }
   
    .slider span {
        transform: rotateY(calc(var(--i)*45deg)) translateZ(220px);
    
    }
    
    .slider span:hover img {
        transform: translateY(-50px) scale(1.2);
    }

    .footer-item{
        text-align: center;
        width: 100%;
    }   
   
}

/* For Tablet version */
@media only screen and (min-width:688px) and (max-width:992px) {
    .collection{
        grid-template-columns: repeat(2, 1fr);
        
    }
    .journey-part{
        flex-direction: column-reverse;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center; 
    }
    .info{
        justify-content: center;
        align-items: center;
        justify-items: center;
        margin-bottom: 20px;
        
    } 
    .info p{
        text-align: center;
        align-items: center;
    }
}


/*  */

